@font-face {
  font-family: Neucha;
  src: url("fonts/Neucha-Regular.ttf");
}

@font-face {
  font-family: SyneMono;
  src: url("fonts/SyneMono-Regular.ttf");
}

*{
  font-family: Neucha;

}
body {

}
#game-window {
    width: 800px;
    height: 500px;
    background-color: black;
    overflow: hidden;
    position: relative;
    background-image: url();
    background-size: 100% 100%;


}

#name {
  width: 30%;
  height: 30%;
  background-color: #BAB2F7;
  border-color: black;
  border-style: double;
  padding: 10px;
  /**position**/
  position: absolute;
  top: -50%;
}

#text-box {
  width: 60%;
  height: 10%;
  border-radius: 10px;
  border-style: double;
  border-color: black;
  padding: 10px;
  background-color: #8c91c9;

  /**position**/
  position: relative;
  margin: auto;
  bottom: 20%;
}

#text {
  position: relative;
  padding: inherit;
  overflow-wrap: break-word;
  display: inline-block;
  width: 95%;
  height: 60%;

}

.character {
  width: 40%;
  height: 100%;
  position: relative;
  margin: auto;
  top: 20%;
  display: block;
}

#answer-container {
  position: absolute;
  width: 30%;
  height: 100%;
  display: none;
  right: -30%;
  top: 0;

}
.answer {
  display: none;
  width: 100%;
  border-radius: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.answer:hover {
  background-color: red;

}
